<div class="">
    <div class="row ">
      <div class="col-4 ">
        <img class="img-index" src="/images/local_police_solo.png" alt="">
      </div class="">
      <div>
        <h1 class="h1-index "><strong>LOCAL POLICE </strong></h1>
      </div>

    </div>

<br>
<br>
  <h3><strong>¿Qué es?</strong></h3><br>
  <h4>Local Police es una aplicación que te ayudara a la comunidad a saber realmente en donde se concentra el mayor índice de crímenes en la Ciudad de México, la información es proporcionada por los usuarios, lo que nos dará un dato real de  lo que sucede.Te daremos la mejor <strong> recomendacion</strong> para visitar los lugares.</h3>
<br>
  <h3> <strong>Contamos con un total de {{totalIncidents}} incidentes en nuesta base de datos!</strong> </h3>
<br>
  <div class="chart-container3 col-9">
    <canvas id="graphByDelegacion"></canvas>
  </div>
<br>
<br>
  <h3>Consulta la información por Alcaldía</h3>
<br>
{{#each nombresDeDelegaciones}}
  
    <a class="btn btn-primary btn-dele" href="/delegacion/{{this.href}}">{{this.nombre}}</a>
{{/each}}

</div>
<script>
    var ctx = document.getElementById("graphByDelegacion");
    var myChart = new Chart(ctx, {
        type: 'horizontalBar',
        data: {
            labels: {{{graphByDelegacionLabels}}},
    datasets: [{
        label: "Incidentes por Delegación",
        data: {{{graphByDelegacionData}}},
        backgroundColor: "rgba(255,99,132,0.2)",
        borderColor: "rgba(255,99,132,1)",
        borderWidth: 2
        }]
    },
    options: {
  maintainAspectRatio: false,
  scales: {
    yAxes: [{
      stacked: true,
      gridLines: {
        display: true,
        color: "rgba(255,99,132,0.2)"
      }
    }],
    xAxes: [{
      gridLines: {
        display: false
      }
    }]
  }
}
});
</script>



