<div class="">
    
        <h1 class="text-colonia">
            <strong>{{coloniaCompleteName}}</strong>
        </h1>
    <div class="centrar">
<br>
    <div class="text-colonia">
        <h2>El número total de incidentes registrados en esta colonia es de {{totalIncidents}}</h2>
    </div>
    </div>
<br><br>
    <div class="row ">
        <div class="chart-container4 col-8">
            <h3 class="">Incidentes por tipo en la colonia {{coloniaCompleteName}}</h3>
            <canvas  id="graphByType"></canvas>
        </div>
        <div class="chart-container4 col-8">
            <h3>Serie Histórica de Incidentes para la delegación {{coloniaCompleteName}}</h3>
            <br>
            <canvas id="graphByDate"></canvas>
        </div>
    </div>
</div>
<div>
    <h3>Recomendación</h3>
     <h1>{{recomendacion}}</h1>
 </div>     
      <br>
        <br>
        <a  class="btn btn-primary btn-rtnhome" href="/delegacion/{{delegacionName}}">Regresa a la Delegacion</a>
        
        <a class="btn btn-primary btn-rtnhome"href="/">Regresa a Casa :)</a> 



<script>
    var ctx = document.getElementById("graphByType");
    var myChart = new Chart(ctx, {
        type: 'horizontalBar',
        data: {
            labels: {{{ graphByTypeLabels }}},
    datasets: [{
        label: "Incidentes por tipo en la colonia {{coloniaCompleteName}}",
        data: {{{ graphByTypeData }}},
        backgroundColor: [
        'rgba(255, 99, 132, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(255, 206, 86, 0.2)',
        'rgba(75, 192, 192, 0.2)',
        'rgba(153, 102, 255, 0.2)',
        'rgba(255, 159, 64, 0.2)',
        'rgba(255, 159, 64, 0.2)',
        'rgba(255, 99, 132, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(255, 206, 86, 0.2)',
        'rgba(75, 192, 192, 0.2)'
    ],
        borderColor: [
        'rgba(255,99,132,1)',
        'rgba(54, 162, 235, 1)',
        'rgba(255, 206, 86, 1)',
        'rgba(75, 192, 192, 1)',
        'rgba(153, 102, 255, 1)',
        'rgba(255, 159, 64, 1)',
        'rgba(255, 159, 64, 1)',
        'rgba(255,99,132,1)',
        'rgba(54, 162, 235, 1)',
        'rgba(255, 206, 86, 1)',
        'rgba(75, 192, 192, 1)'
    ],
        borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                },
                stacked: true,

            }]
        }
    }
});
</script>





<script>new Chart(document.getElementById("graphByDate"), { "type": "line", "data": { "labels": {{{ graphByDateLabels }}}, "datasets": [{ "label": "Serie Histórica de Incidentes para la delegación {{coloniaCompleteName}}", "data": {{{ graphByDateData }}}, "fill": false, "borderColor": "rgb(75, 192, 192)", "lineTension": 0.1 }] }, "options": {stacked: true} });</script>


        