<h1>
{{coloniaCompleteName}}
</h1>

<h3>
    El número total de incidentes registrados en esta colonia es de {{totalIncidents}}
</h3>

<canvas width="50" height="50" id="graphByType"></canvas>
{{!-- Script for graph by type --}}
<script>
    var ctx = document.getElementById("graphByType");
    var myChart = new Chart(ctx, {
        type: 'horizontalBar',
        data: {
            labels: {{{ graphByTypeLabels }}},
    datasets: [{
        label: "Incidentes por tipo en la colonia {{coloniaCompleteName}}",
        data: {{{ graphByTypeData }}},
        backgroundColor: [
        'rgba(255, 99, 132, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(255, 206, 86, 0.2)',
        'rgba(75, 192, 192, 0.2)',
        'rgba(153, 102, 255, 0.2)',
        'rgba(255, 159, 64, 0.2)',
        'rgba(255, 159, 64, 0.2)',
        'rgba(255, 99, 132, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(255, 206, 86, 0.2)',
        'rgba(75, 192, 192, 0.2)'
    ],
        borderColor: [
        'rgba(255,99,132,1)',
        'rgba(54, 162, 235, 1)',
        'rgba(255, 206, 86, 1)',
        'rgba(75, 192, 192, 1)',
        'rgba(153, 102, 255, 1)',
        'rgba(255, 159, 64, 1)',
        'rgba(255, 159, 64, 1)',
        'rgba(255,99,132,1)',
        'rgba(54, 162, 235, 1)',
        'rgba(255, 206, 86, 1)',
        'rgba(75, 192, 192, 1)'
    ],
        borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                },
                stacked: true,

            }]
        }
    }
});
</script>


<canvas width="50" height="50" id="graphByDate"></canvas>
{{!-- Script for graph by time --}}

<script>new Chart(document.getElementById("graphByDate"), { "type": "line", "data": { "labels": {{{ graphByDateLabels }}}, "datasets": [{ "label": "Serie Histórica de Incidentes para la delegación {{coloniaCompleteName}}", "data": {{{ graphByDateData }}}, "fill": false, "borderColor": "rgb(75, 192, 192)", "lineTension": 0.1 }] }, "options": {stacked: true} });</script>


        <p>{{recomendacion}}</p>

        <a href="/delegacion/{{delegacionName}}">Regresa a la Delegacion</a>
        
        <h3><a href="/">Regresa a Casa :)</a></h3>   
        