<div class="">
    <div>
        <h1 class="text-colonia">
            <strong>
            {{delegacionCompleteName}}
            </strong>
        </h1>
<br>
        <h2 class="text-colonia">
    El número total de incidentes registrados en esta Alcaldía es de <strong>{{totalIncidents}}</strong>
        </h2>
    </div>


<div class="row">
    <div class="chart-container col-8">
        <h3>Incidentes por tipo en la Alcaldía  {{delegacionCompleteName}}</h3>
        
        <canvas id="graphByType"></canvas>
    </div>
<div class="col text-deleg">
        <h3>La Alcaldía {{delegacionCompleteName}}</h3>
        <p>
            {{selectedMessage}}
        </p>    
</div>

</div>
</div>
<div class="row">
    
    <div class="chart-container2  col">
       <h3>Serie Histórica de Incidentes para la Alcaldía {{delegacionCompleteName}}</h3> 
    <canvas  id="graphByDate"></canvas>
    </div>
{{!-- <h5>Número de Incidentes registrados por Colonia en la delegación {{delegacionCompleteName}}</h5> --}}

    <div class="chart-container2 col">
        <h3>Número de Incidentes registrados por Colonia en la Alcaldía {{delegacionCompleteName}}</h3> 
        <canvas id="graphByColonia"></canvas>
    </div>
</div >

        <h3>Recomendación</h3>
        <h1><strong>{{recomendacion}}</strong></h1>
<br>
<br>

         <h4>Consulta la info por colonia</h4>

           <div>
{{#each tablaColonias}}
        
            <a class="btn btn-primary btn-dele" href="/colonia/{{this.href}}">{{this.nombre}}</a>
        {{/each}}
       </div>
       <br>
    <a class="btn btn-primary btn-rtnhome" href="/">Regresa a Casa :)</a>


<script>
    var ctx = document.getElementById("graphByType");
    var myChart = new Chart(ctx, {
        type: 'horizontalBar',
        data: {
            labels: {{{ graphByTypeLabels }}},
    datasets: [{
        label: "Incidentes por tipo en la delegación {{delegacionCompleteName}}",
        data: {{{ graphByTypeData }}},
        backgroundColor: [
        'rgba(255, 99, 132, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(255, 206, 86, 0.2)',
        'rgba(75, 192, 192, 0.2)',
        'rgba(153, 102, 255, 0.2)',
        'rgba(255, 159, 64, 0.2)',
        'rgba(255, 159, 64, 0.2)',
        'rgba(255, 99, 132, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(255, 206, 86, 0.2)',
        'rgba(75, 192, 192, 0.2)'
    ],
        borderColor: [
        'rgba(255,99,132,1)',
        'rgba(54, 162, 235, 1)',
        'rgba(255, 206, 86, 1)',
        'rgba(75, 192, 192, 1)',
        'rgba(153, 102, 255, 1)',
        'rgba(255, 159, 64, 1)',
        'rgba(255, 159, 64, 1)',
        'rgba(255,99,132,1)',
        'rgba(54, 162, 235, 1)',
        'rgba(255, 206, 86, 1)',
        'rgba(75, 192, 192, 1)'
    ],
        borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                },
                stacked: true,

            }]
        }
    }
});
</script>


<script>new Chart(document.getElementById("graphByDate"), { "type": "line", "data": { "labels": {{{ graphByDateLabels }}}, "datasets": [{ "label": "Serie Histórica de Incidentes para la delegación {{delegacionCompleteName}}", "data": {{{ graphByDateData }}}, "fill": false, "borderColor": "rgb(75, 192, 192)", "lineTension": 0.1 }] }, "options": {stacked: true} });</script>


<script>new Chart(document.getElementById("graphByColonia"), { "type": "doughnut", "data": { "labels": {{{ graphByColoniaLabels }}}, "datasets": [{ "label": "My First Dataset", "data": {{{ graphByColoniaData }}}, "backgroundColor": ['rgba(255,99,132,1)',
        'rgba(54, 162, 235, 1)',
        'rgba(255, 206, 86, 1)',
        'rgba(75, 192, 192, 1)',
        'rgba(153, 102, 255, 1)',
        'rgba(255, 159, 64, 1)',
        'rgba(255, 159, 64, 1)',
        'rgba(255,99,132,1)',
        'rgba(54, 162, 235, 1)',
        'rgba(255, 206, 86, 1)',
        'rgba(75, 192, 192, 1)',
        'rgba(54, 162, 235, 1)',
        'rgba(255, 206, 86, 1)',
        'rgba(75, 192, 192, 1)',
        'rgba(153, 102, 255, 1)',
        'rgba(255, 159, 64, 1)',
        'rgba(255, 159, 64, 1)',
        'rgba(255,99,132,1)']}]}});</script>

      
