<div class="offset-sm-3">
    <div>
        <h2><strong>Ubicación</strong> </h2>
        <p>{{incident.location}}</p>
    </div>
    <div class="row">   
    
        <div class="col">
             <div >
                <p><strong>Alcadía</strong> </p>{{incident.delegacion}}
            </div>
           <br>
              <div >
                <p><strong>Colonia</strong> </p>{{incident.colonia}}
            </div>
           <br>
            <div >
                <p><strong>Tipo de Incidente</strong> </p>{{incident.type}}
            </div>
           <br>
            <div> 
                <p><strong>Fecha</strong> </p>{{incident.date}}
            </div>
            <br>
            <div>
                <p><strong> Descripción</strong></p>{{incident.additionalDetails}}
            </div>
        </div>
    </div>
    <div class="btn-edit">
        <a class="btn btn-primary btn-rtnhom" href="/controlPanel"> Regresar</a>
    </div>
</div>